<div class="container  position-absolute top-50 start-50 translate-middle">
    <div class="row justify-content-md-center ">
        <div class="col-md-6">
            <div class="card" >
                <div class="text center">
                    <h1 class="text-center">Sign Up</h1><hr>
                </div>
                <form [formGroup]="signup" (ngSubmit)="signupdata(signup)" class="m-3">
                    <div class="mb-3">
                      <label class="form-label">Name</label>
                      <input type="name" formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Mobile Number</label>
                        <input type="mobile" formControlName="mobile" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label  class="form-label">Email address</label>
                        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                    <div class="mb-3">
                      <label class="form-label">Password</label>
                      <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                    </div>
                     <button type="submit" class="btn btn-primary">Sign Up</button>
                  </form>
                  <a routerLink="/LogIn" class="m-3">Already Member ? Click To LogIn !</a>
            </div>

        </div>

    </div>

</div>
